body {
	margin:0px;
	padding:0px;
	font-family:"Helvetica Neue", Helvetica, Arial;
	letter-spacing: 1px;
	line-height: 150%;
}

#sidebar{
	background:#151718;
	width:300px;
	height:100%;
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	transition: left 0.3s linear;
	padding-top: 10px;
}


#home-page{
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 30px;
	text-decoration: none;
	color:#ccc;
	display:block;
	font-size: 300%;
}

#section{
	color:#ccc;
	padding: 20px;
}

#main-content{
	height:100%;
	display:block;
	position:absolute;
	left:350px;
	top:0px;
	padding-top: 50px;
	padding-right: 50px;
}


#section-label{
	color:#ffffff;
}
#sidebar.invisible{
	left:-300px;
	transition: left 0.3s linear;
}

ul{
	margin:0px;
	padding:0px;
}

ul li{
	list-styles:none;
}

ul li a{
	background:#1C1E1F;
	color:#ccc;
	border-bottom:;1px solid $111;
	display:block;
	width:280px;
	padding:10px;
	text-decoration: none;
}

#sidebar-btn{
	display:inline-block;
	vertical-align: middle;
	width:20px;
	height:15px;
	cursor:pointer;
	margin:20px;
	position: absolute;;
	top: 0px;
	right: -60px;
}

#sidebar-btn span{
	height:1px;
	background:#111;
	margin-bottom: 5px;
	display:block;
}

#sidebar-btn span:nth-child(2){
	width:75%;
}

#sidebar-btn span:nth-child(3){
	width:50%;
}