body {
	margin:0px;
	padding:0px;
	font-family: "ApercuPro", "Helvetica Neue", Helvetica, Arial;
	letter-spacing: 1px;
	line-height: 150%;
	font-weight:300;
	font-size: 85%;
	height: 100%;
	overflow-x: hiiden;
}

#wrapper {
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 35%;
}

#sidebar{
	background:#292B2E;
	width:35%;
	height:100%;
	display:block;
	position:fixed;
	left:0px;
	top:0px;
	transition: left 0.3s linear;
}

#sidebar.invisible{
	left:-35%;
	transition: left 0.3s linear;
}

#home-page-title{
	padding: 80px 10px 50px 10px;
	padding-left: 20px;
	padding-bottom: 50px;
	text-decoration: none;
	color:#ccc;
	display:block;
	font-size: 200%;
	letter-spacing: 1px;
	font-weight: 500;
}

.section{
	color:#ccc;
	padding: 2% 5% 2% 5%;

}

.section-header{
	text-decoration: none;
	width:90%;
	/*padding: 2% 5% 2% 5%;*/
	color:#ccc;
	list-style-type: none;
}

.section-content{
	/*padding: 0% 5% 0% 5%;*/
	text-decoration: none;
}

.navbar{
	position: absolute;
	bottom: 0;
	width: 100%
}

ul{
	margin:0px;
	padding:0px;
}

ul li{
	list-styles:none;
}

ul li a{
	background:#1C1E1F;
	color:#ccc;
	display:block;
	width:90%;
	padding:5%;
	text-decoration: none;
	cursor:pointer;
}

ul li a:hover{
	background:#445369;
	text-decoration: none;
}

a{
	text-decoration: none;
	color:#a9defe;
}
a:hover {
	text-decoration: underline;
}

#sidebar-btn{
	display:inline-block;
	vertical-align: middle;
	width:20px;
	height:15px;
	cursor:pointer;
	position: absolute;;
	top: 0px;
	right: -60px;
	margin: 20px;
}

#sidebar-btn span{
	height:1px;
	background:#111;
	margin-bottom: 5px;
	display:block;
}

#sidebar-btn span:nth-child(2){
	width:75%;
}

#sidebar-btn span:nth-child(3){
	width:50%;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

/*.content{
	height:100%;
	display:block;
	position:absolute;
	margin-top: 60px;
	margin-left: 60px;
	top: 0%;
	left: 100%;
	width: 150%;
	font-size: 110%;
}*/

@media  (max-width: 780px)
{
	#sidebar
	{
		width:30%;
		margin-top:0;
	}
}
